.sidebar-container {
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
    position: fixed;
    left: 13%;
    top: 60px;
}

.sidebar-item {
    display: flex;
    align-items: center;
    width: 200px;
    height: 35px;
    padding: 5px 5px 5px 10px;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-family: inherit;
    font-size: inherit;
}

.sidebar-item:hover {
    background-color: #282020;
}

.sidebar-dropdown {
    display: flex;
    align-items: center;
    width: 215px;
    height: 45px;
    padding: 5px 5px 5px 10px;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    background-color: transparent;
    border-width: 0;
    font-family: inherit;
    font-size: inherit;
}

.sidebar-dropdown:hover {
    background-color: #282020;
}

h4 {
    color: gray;
}

ul {
    list-style-type: none;
}

.link {
    color: white;
    text-decoration: none;
}

@media (max-width: 1000px) {
    .sidebar-container {
        display: none;
    }
}
