.sidebar-container {
    font-family: 'Barlow', sans-serif;
    position: fixed;
    left: 13%;
    height: calc(100vh - 60px);
    top: 60px;
}

.sidebar-item {
    color: white;
    display: flex;
    align-items: center;
    height: 30px;
    padding: 5px;
    text-decoration: none;
}

.sidebar-dropdown {
    color: white;
    display: flex;
    align-items: center;
    height: 30px;
    padding: 5px;
    margin-top: 15px;
    text-decoration: none;
}

button {
    background-color: transparent;
    border-width: 0;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
}

.dropdown-icon {
    padding-left: 40px;
    width: 10px;
    height: 10px;
}

h4 {
    color: gray;
}

.icon-button {
    margin-right: 20px;

}

ul {
    list-style-type: none;
}

.link {
    color: white;
    text-decoration: none;
}

@media (max-width: 768px) {
    .sidebar-container {
        display: none;
    }
}
